
<div class="form">
  <h2 class="add-movie-label">Add Movie</h2>

  <div class="row">
    <input type="text" id="title-input" placeholder="Title">
    <input type="text" id="director-input" placeholder="Director Name(s) (separate with commas)">
  </div>
  <div class="row">
    <input type="text" id="image-link" placeholder="Link to movie poster">
    <input type="text" id="year-input" placeholder="Release year">
  </div>
  <div class="row">
    <textarea type="text" id="plot-input" placeholder="Plot"></textarea>
  </div>
  <div class="row">
    <input type="text" id="genre-input" placeholder="Movie's Genres (separate with spaces)">
    <input type="text" id="tag-input" placeholder="Movie's tags (separate with spaces)">
  </div>
  <div class="row">
    <input type="text" id="rating-input" placeholder="MPAA Rating">
  </div>

  <button class="dropbtn" id="submit">Add Movie</button>

</div>
