{{#each scripts}}
      <script src="{{@this}}" charset="utf-8" defer></script>
    {{/each}}
    
<main class="main">
    <div class="left">
      <div class="content">
        <input type="text" id="image-link" placeholder="link to movie poster">
        <div class="line">
          <input type="text" id="rating-input" placeholder="Movie rating">
        </div>
      </div>
    </div>
    <div class="right">
      <div class="top">
       <input type="text" id="title-input" placeholder="Movie Title">
        <input type="text" id="director-input" placeholder="Movie's Director">
        <input type="text" id="year-input" placeholder="Movie's release year">
        <input type="text" id="tag-input" placeholder="Movie's tags">
        <input type="text" id="plot-input" placeholder="Movies plot">

        <h3>Genres</h3>
        <input type="text" id="genre-input" placeholder="Movie's Genres (seperate with _)">

   <button class="dropbtn" id="submit">Add Movie</button>

</main>




