<div id="search-container">
  <input type="text" id="main-search-input" placeholder=" Search...">
  <label for="Filters">Filter: </label>
  <select name= "Filters" id = "Filters">
    <option value="Genra">Genra</option>
    <option value="Title">Title</option>
    <option value="Tags">Tags</option>
    <option value="Plot">Plot</option>
    <option value="Year">Year</option>
  </select>
  <button type="button" id="main-search-button"><i class="fas fa-search"></i></button>
</div>

<h2 class="movie-container-label">Showing Currently</h2>
<main class="movie-container">
  {{#each movies}}
    {{> movie}}
  {{/each}}
</main>

<div class="page-buttons">
  <button type="button" class="page-button"><i class="fas fa-caret-left"></i></button>
  <p class="page-number">{{page}}</p>
  <button type="button" class="page-button"><i class="fas fa-caret-right"></i></button>

</div>
