<div id="search-container">
  <label for="Filters">Filter: </label>
  <select name= "Filters" id = "filters">
    <option value="Genre">Genra</option>
    <option value="Title">Title</option>
    <option value="Tags">Tags</option>
    <option value="Year_Range">Year_Range</option>
    <option value="IMDB_Ratting">IMDB_Ratting</option>
  </select>
  <input type="text" id="main-search-input" placeholder=" Search...">
  <button type="button" id="main-search-button"><i class="fas fa-search"></i></button>
</div>

<a href="https://imgur.com/OhcG7Qn"><img src="https://i.imgur.com/OhcG7Qn.gif" title="source: imgur.com" /></a>

<h2> No Results found</h2>