<div id="search-container">
  <label for="Filters">Filter: </label>
  <select name= "Filters" id = "filters">
    <option value="Title">Title</option>
    <option value="Genre">Genre</option>
    <option value="Tags">Tags</option>
    <option value="Year_Range">Year Range</option>
    <option value="IMDB_Rating">IMDB Rating</option>
  </select>
  <input type="text" id="main-search-input" placeholder="Search Title">
  <button type="button" id="main-search-button"><i class="fas fa-search"></i></button>
</div>