<article class="review">
  <i class="fas fa-quote-left"></i>
  <p class="author">{{name}} <em>says:</em></p>
  <p class="review-text">{{text}}</p>
  <i class="fas fa-quote-right"></i>
  <div class="buttons">
    <button type="button" class="update-review">Edit</button>
    <button type="button" class="delete-review">Delete</button>
  </div>
</article>
