.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
}

.left {
  width: 30%;
}

.content {
  position: sticky;
  top: 2em;
}

.poster {
  box-shadow: 12px 12px 5px 0px rgba(137, 137, 143, 0.44);
  border: 1.5px solid black;
  border-radius: 5px;
  width: 300px;
  display: block;
}

.left p {
  margin-top: 30px;
  font-weight: 700;
  display: inline;
}

.line {
  display: flex;
  align-items: center;
}

.icon {
  width: 40px;
  height: 40px;
  display: inline;
  margin-top: 10px;
  margin-left: 35%;
  margin-right: 5px;
}

.right {
  width: 70%;
}

.top {
  background-color: white;
  /* box-shadow: 12px 12px 5px 0px rgba(137, 137, 143, 0.44); */
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px;
}

.movie-title {
  font-weight: 800;
  font-size: 35px;
}

.director {
  font-size: 18px;
  float: right;
}

.year {
  margin-top: 20px;
}

.plot-text {
  margin-top: 30px;
  margin-bottom: 50px;
}

.top h3 {
  margin-top: 30px;
}

#add-tag-button, #add-review-button,
.buttons button {
  margin: 20px 0;
  width: 100px;
  height: 40px;
  border: solid 1.5px black;
  background-color: white;
}

#add-tag-button:hover, #add-review-button:hover,
.buttons button:hover {
  background-color: lightgrey;
}

.buttons {
  padding-top: 20px;
}

.reviews {
  background-color: white;
  /* box-shadow: 12px 12px 5px 0px rgba(137, 137, 143, 0.44); */
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px;
}

.review-label {
  font-size: 28px;
  margin-top: 0;
  margin-bottom: 30px;
}

.review {
  margin-top: 20px;
  padding: 20px;
  background-color: white;
  border-bottom: 2px solid black;
}

.review i {
  font-size: 25px;
}

.author {
  font-size: 15px;
  font-weight: bold;
  margin-left: 65px;
}

.fa-quote-right {
  float: right;
}

.author em {
  font-weight: normal;
}

.review-text {
  width: max-content;
  margin: 24px auto;
  font-size: 19px;
}

.hidden {
  display: none;
}

#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

#add-tag-modal, #add-review-modal, #delete-review-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}

.modal-header {
  position: relative;
  padding: 10px 20px;
}

.modal-header h3 {
  margin: 0;
  font-size: 28px;
}

.modal-close-button {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
}

.input-element {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

.input-element label {
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
}

.input-element input,
.input-element textarea {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.input-element textarea {
  min-height: 64px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

.modal-footer button {
  font-size: 20px;
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.modal-footer .modal-cancel-button:hover {
  background-color: #eee;
}

.modal-footer .modal-accept-button {
  background-color: #ed2c26;
  color: #fff;
}

.modal-footer .modal-accept-button:hover {
  background-color: #bd1701;
}

@media (max-width: 1100px) {
  .main {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
  }

  .left {
    width: max-content;
  }

  .review-text {
    width: 100%;
  }
}
