body {
  font-family: 'Spartan', sans-serif;
  background-color: #eeeeee;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

header {
  padding-top: 10px;
  background-color: white;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 3em;
  height: 3em;
  transform: rotate(-15deg);
  margin-right: 10px;
}

.site-title {
  font-family:  'Monoton', cursive;
  display: inline;
  text-align: center;
  text-decoration: none;
  font-size: 50px;
  font-weight: 600;
  margin: 0 auto 5px;
}

.navbar {
  display: flex;
  justify-content: center;
}


.navitem {
  display: inline;
  margin: 0px;
}


/* Dropdown Button */
.dropbtn {
  background-color: white;
  color: black;
  padding: 5px 10px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  float: left;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  width: 1000px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 480px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  border-bottom: 2px solid red;
  box-shadow: 1px 5px 10px -7px #ED2D2D;
  background-color: #ffffff;
}

.column {
  float: left;
  width: 29%;
  padding: 10px;
  background-color: #ffffff;
  height: auto;
}

#search-container {
  display: flex;
  width: 550px;
  height: 40px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 40px;
  align-items: center;
}

#filters {
  margin: 10px;
}

#main-search-input {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: lightgrey;
  font-size: 20px;
  text-indent: 10px;
  border: none;
}

#main-search-input:focus {
  background-color: white;
  outline: none;
}

#main-search-button {
  margin-left: 5px;
  background-color: #eeeeee;
  font-size: 23px;
  width: 45px;
  height: 50px;
  color: text;
  text-decoration: none;
  border-style: none;
}

#main-search-button:hover {
  color: red;
}

.movie-container-label {
  margin: 20px auto;
  text-align: center;
  font-size: 25px;
  font-weight: 800;
  display: block;
  width: auto;
}

.movie-container {
  width: 90%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
}

.movie {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 20px 20px 10px 20px;
}

.movie h3 {
  margin: 0 auto;
  height: 10%;
  font-weight: 600;
}

.movie img {
  margin: 20px 20px 10px 20px;
  /* box-shadow: 12px 12px 5px 0px rgba(137, 137, 143, 0.44); */
  border: 1.5px solid black;
  border-radius: 5px;
  width: 100%;
  height: 80%;
}

.movie img:hover {
  transform: scale(1.085);
}

.page-buttons {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-button {
  font-size: 30px;
  width: 50px;
  height: 50px;
  background-color: lightgrey;
  border: 1px solid black;
  border-radius: 50%;
  margin: 10px;
}

.no-content, .content-404 {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-404 .number {
  font-weight: lighter;
  font-size: 100px;
  margin: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: max-content;
  height: 65%;
}

.add-movie-label {
  margin: 20px auto;
}

.row input {
  border: none;
  border-bottom: 2px solid red;
  width: 30em;
  height: 3.5em;
  font-size: 1em;
  margin: 5px;
}

.row textarea {
  width: 60em;
  height: 10em;
  border: none;
  border-bottom: 2px solid red;
  font-size: 1.05em;
  margin: 5px;
}

#submit {
  margin-top: 20px;
  margin-bottom: 40px;
}

#submit:hover {
  background-color: red;
  color: white;
}
